.WeatherForecastDay .WeatherForecast-temperature-max {
  text-align: center;
  font-weight: 600;
  color: rgb(235, 31, 31);
}

.WeatherForecastDay p {
  text-align: center;
  font-weight: 600;
  color: rgb(190, 176, 48);
  font-size: 1.2rem;
}
