.Weather {
  background-color: #ffffff50;
  border-radius: 1rem;
  box-shadow: -0.1rem 1.5rem 1.9rem rgba(245, 198, 225, 0.5);
  display: block;
  margin: 0 auto;
  max-width: 85%;
  padding: 2rem;
}

.Weather .button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 10%);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.6rem 2.5rem;
  transition: all 500ms ease;
}

.Weather .button-location {
  background-color: rgb(4, 89, 247);
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 10%);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 0.7rem;
  padding: 0.6rem 1.2rem;
  transition: all 500ms ease;
}

.Weather .button:hover,
.button-location:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(112, 159, 245);
}

.Weather .card-forecast {
  background-color: #b35f870e;
}

.card-body {
  text-align: center;
}

.temperature {
  font-size: 5rem;
  font-weight: bolder;
}
.units {
  font-size: 2rem;
  position: relative;
  line-height: 1;
  top: -25px;
}

.Weather .card-forecast {
  min-height: 100%;
  min-width: 100%;
}

.Weather .card-forecast:hover {
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

.Weather .form-control {
  font-size: 1.8rem;
}

.Weather .searcher {
  margin: 3rem 0rem;
}

@media (min-width: 800px) {
  .Weather .form-control {
    font-size: 1.3rem;
  }
}
