.WeatherForecastDay .WeatherForecast-temperature-max {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.WeatherForecastDay p {
  text-align: center;
  font-weight: 600;
  color: rgb(9, 100, 238);
  font-size: 1.2rem;
}
