.Weather .button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 10%);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.6rem 2.5rem;
  transition: all 500ms ease;
}

.Weather .button:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(207, 224, 238, 0.979);
}

.Weather .button-location {
  background-color: rgb(4, 138, 247);
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 10%);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 0.7rem;
  padding: 0.6rem 1.2rem;
  transition: all 500ms ease;
}

.Weather .button-location:hover {
  cursor: pointer;
  background-color: #97a7d6;
}

.Weather .card-forecast,
.card-forecast-temp {
  text-align: center;
}

.Weather .card-forecast-city,
.card-forecast-temp,
.card-forecast {
  background-color: #e3f6f552;
}

.Weather .card-forecast-city img {
  display: inline-flex;
  width: 1.2rem;
}

.Weather .card-forecast-city,
.card-forecast-temp {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.Weather .card-forecast {
  margin-top: 2rem;
}

.Weather .card-body:hover {
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

.Weather .forecastdays {
  font-size: 1.7rem;
  font-weight: bold;
}

.Weather .forecastdays,
.temp-max,
.temp-min {
  text-align: center;
  text-shadow: -0.2rem 0.5rem 0.6rem rgba(5, 1, 5, 0.1);
  font-weight: 600;
}

.Weather .form-control {
  font-size: 1.3rem;
}

.Weather .searcher {
  margin: 2rem 0rem;
}

.Weather {
  background-color: #9bd3d3be;
  border-radius: 1rem;
  box-shadow: -0.1rem 1.5rem 1.9rem rgba(198, 235, 245, 0.5);
  display: block;
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
}

.Weather #weather-icon {
  display: block;
  margin: auto;
  width: 5.6rem;
}

.Weather #weather-icon:hover {
  cursor: pointer;
  transition: all 0.5s 0s ease;
  width: 6.6rem;
}

.Weather #weather-description {
  text-transform: capitalize;
}

.Weather #celcius,
#concurrent-temp {
  font-size: 2.8rem;
  font-weight: bolder;
}

.Weather #city-name,
#weather-description {
  color: #1399f3;
  font-size: 2.4rem;
  font-weight: bolder;
}

.Weather .card-forecast-temp p,
.card-forecast-city p {
  color: rgb(42, 46, 49);
  font-size: 1.2rem;
  text-transform: capitalize;
  line-height: 0.15rem;
  margin-top: 1rem;
}

span {
  font-size: 1.6rem;
}

@media (min-width: 800px) {
  .Weather .searcher {
    margin: 1rem 0rem;
  }
}
